= simple_form_for @message do |f|
  = f.input :to_id, as: :hidden
  = f.simple_fields_for :text do |text_form|
    = render partial: 'moderable_text_fields',  locals: {f: text_form}
  = f.submit 'Отправить сообщение'