/Header
= render partial: 'adm/menu/header'

/Container
%input{:type => 'hidden', :id => 'group_id', :value => @id}
%div{:id => 'container'}
  %div{:class => 'shell'}

    %div{:class => 'small-nav'}
      = link_to 'Админ-панель', 'orders'
      %span &gt;
      = link_to 'Группы специалистов', '/adm/groups'
      %span &gt;
      Группа №
      = @group_data.id
    
    = render partial: 'adm/menu/popups'

    /Main
    %div{:id => 'main'}
      %div{:class => 'cl'} &nbsp;
      
      /Content
      %div{:id => 'content', :style => 'width: 100%;'}
        
        /Box
        %div{:class => 'box'}

          /Box Head
          %div{:class => 'box-head'}
            %h2{:class => 'left'} Группа специалистов №
            = @group_data.id
            %div{:class => 'right'}
              /%label search articles
              /%input{:type => 'text', :class => 'field small-field'}
              /%input{:type => 'submit', :class => 'button', :value => 'search'}

          /Table
          %div{:class => 'table'}
            %table{:width => '100%', :border => '0', :cellspacing => '0', :cellpadding => '0'}
              %tr
                %th №
                %th Название
                %th Специальность
                %th Специалисты
                %th Рейтинг
                %th{:class => 'ac', :width => '110'} Действия

              - @groups.each_with_index do |value, index|

                %tr{:class => index % 2 == 0 ? '' : 'odd'}
                  
                  %td
                    = link_to "#{value.id}", "/adm/group/#{value.id}"
                    %input{:type => 'hidden', :class => 'group_id', :value => value.id}
                  /Фамилия

                  %td
                    %input{:type => 'text', :class => 'field small-field', :value => value.name}

                  %td= I18n.t "enumerize.specialization.#{value.specialization.name}"

                  %td= value.specialists.count

                  %td= value.quality_rating

                  %td
                    %a{:class => 'ico edit set_specialist'} Сохр.
                    %a{:class => 'ico del del_specialist'} Уд.

        %div{:id => 'navigation'}
          %ul
            %li
              %a{:href => "/adm/group/#{@id}", :style => '-webkit-border-top-left-radius: 6px; -webkit-border-top-right-radius: 6px; background: #ccc;'}
                %span{:style => 'background: #ccc'} Состав
            %li
              %a{:href => "/adm/group/#{@id}/show_orders", :style => '-webkit-border-top-left-radius: 6px; -webkit-border-top-right-radius: 6px;background: #DAD32B'}
                %span{:style => 'background: #DAD32B'} Заказы

        %div{:style => 'width: 100%'}

          %div{:class => 'box', :style => 'width: 68%; display: inline-block; float: left;'}
            /Box Head
            %div{:class => 'box-head'}
              %h2 Состав
            /Table
            %div{:class => 'table'}
              %table{:width => '100%', :border => '0', :cellspacing => '0', :cellpadding => '0'}
                %tr
                  %th №
                  %th Фамилия
                  %th Логин
                  %th Кол-во заказов
                  %th Фотографии
                  %th Действия

                - @specialists.each_with_index do |value, index|

                  %tr{:class => index % 2 == 0 ? '' : 'odd'}
                    
                    %td
                      = link_to "#{value.id}", "/adm/specialist/#{value.id}"
                      %input{:type => 'hidden', :class => 'specialist_id', :value => value.id}
                    /Фамилия
                    %td
                      = value.user.profile.surname
                    /Логин
                    %td
                      = value.user.username
                    /Кол-во заказов
                    %td
                      = value.user.orders_count
                    /Фотографии
                    %td
                      %input{:type => 'button', :class => 'button', :value => 'Просмотр'}
                    %td
                      %a{:class => 'ico del del_specialist_from_group'} Уд.

          
          %div{:class => 'box', :style => 'width: 68%; display: inline-block; float: left;'}
            /Box Head
            %div{:class => 'box-head'}
              %h2 Заявки на вступление
            /Table
            %div{:class => 'table'}
              %table{:width => '100%', :border => '0', :cellspacing => '0', :cellpadding => '0'}
                %tr
                  %th №
                  %th Фамилия
                  %th Логин
                  %th За вступление
                  %th В группу
                  %th Действия

                - @request_specialists.each_with_index do |value, index|

                  %tr{:class => index % 2 == 0 ? '' : 'odd'}
                    
                    %td
                      = link_to "#{value.join_specialist.id}", "/adm/specialist/#{value.join_specialist.id}"
                      %input{:type => 'hidden', :class => 'specialist_id', :value => value.join_specialist.id}
                    /Фамилия
                    %td
                      = value.join_specialist.user.profile.surname
                    /Логин
                    %td
                      = link_to value.join_specialist.user.username, "/adm/specialist/#{value.join_specialist.id}"
                    /Процент проголосовавших
                    %td
                      = "#{value.get_percent_true}%"
                    /Фотографии
                    %td
                      %input{:type => 'button', :class => 'button add_in_group_from_request', :value => 'Добавить'}
                      %input{:type => 'hidden', :value => value.join_specialist.id}
                    %td
                      %a{:class => 'ico del del_request_specialist_from_group'} Уд.
                      %input{:type => 'hidden', :value => value.id}


          /Добавить в группу
          %div{:class => 'box', :style => 'width: 30%; display: inline-block; float: left; margin-left: 15px;'}

            /Выбор специалиста
            %div{:class => 'box-head'}
              %h2 Добавить в группу
              
            = simple_form_for @group_data, url: {controller: 'order', action: 'set_specialist'}, remote: true, method: 'post' do |f|
              %input{:type => 'hidden', :name => 'order_id', :value => @id}
              %div{:class => 'form'}
              
                %p
                  %span{:class => 'req'}
                    %select{:class => 'field size3 select_specialization'}
                      - Specialization.all.each do |value|
                        %option{:value => "#{value.id}"}
                          = I18n.t "enumerize.specialization.#{value.name}"
                  %label Специальность
 
                %p{:style => 'display: none;'}
                  %span{:class => 'req'}
                    %select{:class => 'field size3 select_specialists'}
                      %option{:value => ''} не выбран специалист
                  %label Имя
                  = f.input_field :executor_id, id: 'select_specialist_id', as: :hidden, value: 0

              %div{:class => 'buttons'}
                %input{:type => 'button', :class => 'button add_spec_to_group', :value => 'Добавить'}
      
      %div{:class => 'cl'} &nbsp;    

/Footer 
= render partial: 'adm/menu/footer'