.order_fields.replanning_endorsement
  = simple_nested_form_for replanning_endorsement, remote: true, html: {class: 'orderable'}, defaults: { input_html: { disabled: disabled } } do |f|
    .plan_refactor
      Проект перепланировки разработан генпроектировщиком?

      %span.plan_refactor.gen_proekt
        = f.input_field :developed_by_general_projector, as: :radio_buttons
      %br/
      Площадь кватиры:#{ f.input_field :flat_area, as: :string, class: 'textlines_default textline_l4' } кв.м.

    .form_refactoring.border_x4.rounded-corners_l2.shadow_x1.multiattach
      .form_description.attach_plan_for_refactoring
      .attach_place_for_box

    .plan_refactor#second_ques{ :style=>"display:none;" }
      Наличие лицензии у организации,
      %span.plan_refactor
        = f.input_field :replanning_organization_licensed, as: :radio_buttons
      которая разработала проект перепланировки?
    = render partial: 'shared/orderable_submission_box', locals: {disabled: disabled, wrapper_class: 'planrefactoring_submiting'}

  .loaded_files{:class => "#{disabled ? 'disabled' : 'enabled'}"}
    = render partial: 'attachments/list_of_attachments', locals:{attachments: replanning_endorsement.attachments, has_remove_button: !disabled}
  = render partial: 'attachments/drag_n_drop_box', locals: {attached_to: replanning_endorsement, kind: 'plan_of_flat', disabled: disabled, wrapper_class: 'form_refactoring'}
