= simple_nested_form_for resource, html: {class: 'planRefactoring', multipart: true} do |f|
  .RefactDetails
    = f.input :developed_by_general_projector, as: :radio_buttons, input_html: {class: 'FormQuestions'}
    .clearfloat
  #appatment
    = f.input :flat_area, as: :string, input_html: {class: 'FlatArea'}
    кв.м.
  #postAttach.postContainer
    #postCaption.postCaption
    #fileGrab.OMFGFILEGRAB
      .clearfloat
      .dropZone.multiple
        .hint
        = f.simple_fields_for :replanning_attachments do |attachment_form|
          = attachment_form.input :file, as: :file
          = attachment_form.link_to_remove "Remove this attachment"
        = f.link_to_add "Add attachment", :replanning_attachments

  #licence
    = f.input :replanning_organization_licensed, as: :radio_buttons, input_html: {class: 'FormQuestions'}
    .clearfloat
  =render 'price_calculator', order_id: resource.order.id
  .actions
    #cancel
      = f.submit '', type: 'reset'
    #postRequest
      = f.submit ''
    .clearfloat