= show_for replanning_endorsement do |s|
  = s.attribute :developed_by_general_projector
  = s.attribute :flat_area
  = s.attribute :replanning_organization_licensed
  - replanning_endorsement.replanning_attachments.each do |attachment|
    = attachment.file