= simple_nested_form_for(@specialist) do |f|
  = f.error_notification

  .form-inputs
    = f.input :specialist_type, collection: Specialist::SPECIALIST_TYPE_ID_BY_NAME, value_method: ->((name, id)){id}, label_method: ->((name,id)){t "specialists.#{name}.singular"}
    = f.input :acreditation_level
    = f.simple_fields_for :portfolio_photos do |photos_form|
      = photos_form.input :file, as: :file
      = photos_form.link_to_remove 'Удалить приложенный файл'
    = f.link_to_add 'Добавить файл', :portfolio_photos

  .form-actions
    = f.button :submit
