= render partial: 'specialist_groups/client/specialist_group_header', locals: {specialist_group: specialist_group}
.rel_portfolio Портфолио
%span.project_breaker

- specialist_group.portfolios.each_with_index do |portfolio, index|
  %ul.project_selected_designer
    %li= portfolio.name || "ПРОЕКТ #{index+1}"
    %li= portfolio.description
  = render partial: 'shared/portfolio', locals: { portfolio_items: portfolio.portfolio_items.first(8), example_set: portfolio.id, ul_class: 'rel_portfolio' }
