.designers_list
  .designer_no
    = specialist_group.avatar
    %span= specialist_group.rating
  .designer_info
    %div
      = link_to specialist_group_path(specialist_group) do
        %span= specialist_group.union_name
        %span
          = surround '[', ']' do
            = specialist_group.name
    %div= specialist_group.description
  .portfolio
    %img{:src => asset_path('portfolio.png')}
    %span
      = link_to 'Портфолио', specialist_group_path(specialist_group)
= render partial: 'shared/portfolio', locals: { portfolio_items: specialist_group.portfolio_items.first(3), example_set: specialist_group.id, ul_class: 'portfolio' }
