.selected_designer
  %a{:href => "#{specialist_groups_path(specialization: specialist_group.specialization)}"}
    .go_back
  .designer_no
    = specialist_group.avatar
    %span= specialist_group.rating
  .designer_info
    %div
      %span= specialist_group.union_name
      %span
        = surround '[', ']' do
          = specialist_group.name
    %div= specialist_group.description
  %a{:href => "#"}
    .send_request
.rel_portfolio Портфолио
%span.project_breaker

- specialist_group.portfolios.each_with_index do |portfolio, index|
  %ul.project_selected_designer
    %li= portfolio.name || "ПРОЕКТ #{index+1}"
    %li= portfolio.description
  = render partial: 'shared/portfolio', locals: { portfolio_items: portfolio.portfolio_items.first(8), example_set: portfolio.id, ul_class: 'rel_portfolio' }
