/.Specialist
/  = render @specialist
/.toggle_like{data: {specialist: @specialist.id} }
/  = @specialist.toggle_like_text
/.specPortfolio
/  = render @specialist.portfolio_photos
/= link_to 'Edit', edit_specialist_path(@specialist)
/|
/= link_to 'Back', specialists_path

.caption.col_green.backgr_color_green
  %p ЙА БОЛВАНКО РЕГИСТРЕД ПЕЙДЖА
.manual
  %p Any text
.specialistMenu
  .specialistAva
    = image_tag "specAva.JPG"
  .specialistStats
    Отзывы об исполнителе:
    %span.positiveReviews=  @specialist.positive_feedback
    %span.negativeReviews=  @specialist.negative_feedback
    %br/
    Выполнено работ:
    %span{:completedorders => ""}=  @specialist.number_of_completed_orders
  .specialistDescription=  @specialist.description
  .specialistButtonsContainer
    .toggle_like{data: {specialist: @specialist.id} }
      #favorite.specButton
        .hint=  @specialist.toggle_like_text
    = link_to new_specialist_message_path(@specialist) do
      #writeTo.specButton
        .hint
          Написать
    #order.specButton
      .hint
        Заказать

.PortfolioCategory.DesignProjectCategory
  #portWork1.portfWork
    .workCaption
      Спальня в стиле
      %span.ifWeSuddenlyNeedIt
        мамаСказалаТащить
    .showMeWorkThere
      = image_tag "workPreview.JPG", class: 'portWorkPreview', alt: "$portWorkName"
    .workType
      Категория работы
      %span.workRate +7
    .rateIt
      .rateUp
      .rateDown
  #portWork2.portfWork
    .workCaption
      Спальня в стиле
      мамаСказалаТащить
    .showMeWorkThere
      = image_tag "workPreview.JPG", class: 'portWorkPreview', alt: "$portWorkName"
    .workType
      Категория работы
      %span.workRate +7
    .rateIt
      .rateUp
      .rateDown

.PortfolioCategory.PlanDevelopmentCategory
  #portWork3.portfWork
    .workCaption
      Спальня в стиле
      %span.ifWeSuddenlyNeedIt
        мамаСказалаТащить
    .showMeWorkThere
      = image_tag "workPreview.JPG", class: 'portWorkPreview', alt: "$portWorkName"
    .workType
      Категория работы
      %span.workRate +7
    .rateIt
      .rateUp
      .rateDown
  #portWork4.portfWork
    .workCaption
      Спальня в стиле
      мамаСказалаТащить
    .showMeWorkThere
      = image_tag "workPreview.JPG", class: 'portWorkPreview', alt: "$portWorkName"
    .workType
      Категория работы
      %span.workRate +7
    .rateIt
      .rateUp
      .rateDown