.order_fields
  = simple_nested_form_for engineering_system, remote: true, html: {class: 'orderable'}, defaults: { input_html: { disabled: disabled } }  do |f|
    .engineering_systems_form1.border_x1.rounded-corners_l2.shadow_x1
      .number._1
      .form_description.input_data
      %span.address_details
        Адрес: #{ f.input_field :address, class: 'textlines_default textline_l8' }
        Этаж:  #{ f.input_field :stage, class: 'textlines_default textline_l4' }
        Подъезд/Секция: #{ f.input_field :section, class: 'textlines_default textline_l4' }
      .head_part
      .file_attaching.border_x5.rounded-corners_l3
        .attach_place_for_box

    .engineering_systems_form2.border_x2.rounded-corners_l2.shadow_x1
      .form_description.job
      .number._2
      %span.select_ Выбор разделов:
      %ul
        %li#sss
          = f.input_field :electrical_equipment, as: :boolean,  id:"first", value:"1", class:"warning_show"
          %label{:for => "first"} Электрооборудование и электроосвещение &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(проект ЭОМ для согласования)
        %li.caution
          %span>
          Необходим план расстановки светильников, электрооборудования,розеток и других электроприборов
        %li
          = f.input_field :water_supply_and_sewerage, as: :boolean,  id:"second", value:"1"
          %label{:for => "second"} Водоснабжение и канализация - ВК
        %li
          = f.input_field :heating, as: :boolean,  id:"third", value:"1"
          %label{:for => "third"} Отопление - ОВ-I
        %li
          = f.input_field :ventilation, as: :boolean,  id:"forth", value:"1"
          %label{:for => "forth"} Вентиляция - ОВ-II
        %li
          = f.input_field :constructive_solutions, as: :boolean,  id:"sixth", value:"1", class:"warning_show"
          %label{:for => "sixth"} Конструктивные решения - КР
        %li.caution
          %span>
          Необходим план, где указаны привязки и размеры проемов
      %span.select_ Системы «Умного дома» - СС 
      %ul
        %li
          = f.input_field :light_control, as: :boolean,  id:"seven", value:"1"
          %label{:for => "seven"} Контроль инженерного оборудования и освещения
        %li 
          = f.input_field :access_control, as: :boolean,  id:"eight", value:"1"
          %label{:for => "eight"} Контроль системы доступа и оповещения
        %li 
          = f.input_field :mood_control, as: :boolean,  id:"nine", value:"1"
          %label{:for => "nine"} Мультирум и управление настроением  
    .engineering_systems_form3.border_x3.rounded-corners_l2.shadow_x1
      .number._3
      .form_description.wishes
      = f.input_field :wishes, as: :text, cols: 60, rows:3, class: "postComment textline_l12"
    = render partial: 'shared/orderable_submission_box', locals: {disabled: disabled, wrapper_class: 'engineering_systems_submiting'}

  .loaded_files{:class => "#{disabled ? 'disabled' : 'enabled'}"}
    = render partial: 'attachments/list_of_attachments', locals:{attachments: engineering_system.attachments, has_remove_button: !disabled}
  = render partial: 'attachments/drag_n_drop_box', locals: {attached_to: engineering_system, kind: 'design_project', disabled: disabled, wrapper_class: ''}
  %span.attach_info_block.caution  
    Обязательно необходимо добавить;
    %ol.eng_systems
      %li План с расстановкой мебели и сантехнического оборудования!
      %li.first План расстановки светильников, электрооборудования, розеток и других электроприборов!
      %li.sixth План, где указаны привязки и размеры проемов