.order
  .specialization
  - if order.specialist_group
    .group_submitted_to
      = precede 'Отправлено группе' do
        = order.specialist_group
  - if order.price
    .order_price
      = precede 'Цена заказа' do
        = order.price
    .order_specialist_price
      = precede 'Цена специалисту' do
        = order.specialist_price

  = simple_form_for [:admin, order] do |f|
    - if order.specialist_group
      = f.association :executor, collection: SpecialistDecorator.decorate_collection(order.possible_executors)
    - else
      = f.input :executor_id, collection: Specialization.all, as: :grouped_select, group_method: :specialists

    - if !order.price
      - if order.default_price
        = precede 'Рекомендованная цена' do
          = order.default_price
      = f.input :price
    - if !order.specialist_price
      - if order.default_price
        = precede 'Рекомендованная стоимость для специалиста' do
          = order.money_for_specialist
      = f.input :specialist_price
    = f.submit
.message_list
  %h2 Сообщения
  .participants
    %span.client
      От заказчика
      = link_to order.client
    %span.executor
      - if order.executor
        От исполнителя
        = link_to order.executor
  = render partial: 'messages/message_in_admin_order', collection: order.messages, as: :message, spacer_template: 'shared/hr_separator', locals: {order: order}
