.order
  - if order.specialist_group
    .group_submitted_to
      = precede 'Отправлено группе' do
        = order.specialist_group
  - if order.price
    .order_price
      = precede 'Цена заказа' do
        = order.price
    .order_specialist_price
      = precede 'Цена специалисту' do
        = order.specialist_price
  = simple_form_for [:admin, order] do |f|
    = f.association :executor, collection: SpecialistDecorator.decorate_collection(order.possible_executors)
    - if !order.price
      - if order.default_price
        = precede 'Рекомендованная цена' do
          = order.default_price
      = f.input :price
    - if !order.specialist_price
      - if order.default_price
        = precede 'Рекомендованная стоимость  для специалиста' do
          = order.money_for_specialist
      = f.input :specialist_price
    = f.submit
.message_list
  .participants
    %span.client= order.client
    %span.executor= order.executor
  = render partial: 'messages/message_in_admin_order', collection: order.messages, as: :message, spacer_template: 'shared/hr_separator', locals: {order: order}
