= show_for resource do |s|
  = s.attribute :orderable_info
  = s.attribute :client_info
  = s.attribute :executors_info
  = s.attribute :completion_status
  = s.attribute :price
  = s.attribute :created_at
  = s.attribute :updated_at