.specialist_img_
  %span.specialist_img_border
  = profile.avatar
.info_specialist
  %span.heading
    Обо Мне
    = image_tag 'edit.png', alt: 'edit', class: 'change_text bio_info'
  %p.bio_info= profile.specialist.bio_info
  %span.heading
    О Работе
    = image_tag 'edit.png', alt: 'edit', class: 'change_text work_info'
  %p.work_info= profile.specialist.work_info
  %span.heading.margine Портфолио
  .portfolios
    = render partial: 'portfolios/portfolio_for_profile', collection: profile.specialist.portfolios, as: :portfolio
  .add_new
    /= link_to add_portfolio_profile_path(format: 'json'), method: :post, remote: true do
    = image_tag 'add_new_project.png', alt: 'Добавить проект', class: 'add_portfolio'

.black_content_blocks
  .bio_info_form.edit_profile_form
    .close_fly_window
    .box.border_x4.rounded-corners_l2.shadow_x1
      %span.header Обо мне
      = simple_form_for profile.specialist, remote: true do |f|
        = f.input_field :bio_info
        %input.put.submit{:type => 'image', :src => asset_path('postButton.png'), :alt => "Отправить форму"}
  .work_info_form.edit_profile_form
    .close_fly_window
    .box.border_x4.rounded-corners_l2.shadow_x1
      %span.header О работе
      = simple_form_for profile.specialist, remote: true do |f|
        = f.input_field :work_info
        %input.put.submit{:type => 'image', :src => asset_path('postButton.png'), :alt => "Отправить форму"}
  .avatar_form.edit_profile_form
    .close_fly_window
    .box.border_x4.rounded-corners_l2.shadow_x1
      %span.header Обо мне
      = form_tag set_avatar_profile_path, remote: true do
        = file_field_tag :avatar, accept: 'image/*'
        %input.put.submit{:type => 'image', :src => asset_path('postButton.png'), :alt => "Отправить форму"}
  = render partial: 'portfolios/form', locals: {portfolio: Portfolio.new}
