= show_for message do |s|
  = s.attribute :sender
  = s.attribute :recipient
  = s.attribute :text
  = s.attribute :moderation_info
  = s.attribute :attached_to
  = s.attribute :created_at
  = s.attribute :updated_at
