.specialist_img_
  %span.specialist_img_border
  = image_tag 'specialist_img.jpg'
.send_message.msg
.info_specialist
  %span.heading
    Обо Мне
  %p= specialist.user.specialist.bio_info
  %span.heading
    О Работе
  %p= specialist.user.specialist.work_info
  %span.heading.margine Портфолио
  - specialist.user.specialist.portfolios.each do |portfolio|
    %ul.portfolio
      %li.projects.rounded-corners_l3
        %span.project_name= portfolio.name
        %span.edit.change_portfolio
        = render partial: 'shared/portfolio', locals: {portfolio_items: portfolio.portfolio_items, example_set: portfolio.id, ul_class: 'portfolio_list'}
