/Header
= render partial: 'adm/menu/header'

/Container
%div{:id => 'container'}
  %div{:class => 'shell'}

    %div{:class => 'small-nav'}
      = link_to 'Админ-панель', 'orders'
      %span &gt;
      Заказы
    
    = render partial: 'adm/menu/popups'

    /Main
    %div{:id => 'main'}
      %div{:class => 'cl'} &nbsp;
      
      /Content
      %div{:id => 'content', :style => 'width: 100%;'}
        
        /Box
        %div{:class => 'box'}

          /Box Head
          %div{:class => 'box-head'}
            %h2{:class => 'left'} Заказы
            %div{:class => 'right'}
              /%label search articles
              /%input{:type => 'text', :class => 'field small-field'}
              /%input{:type => 'submit', :class => 'button', :value => 'search'}

          /Table
          %div{:class => 'table'}
            %table{:width => '100%', :border => '0', :cellspacing => '0', :cellpadding => '0'}
              %tr
                %th №
                %th Дата обн.
                %th Действие
                %th Статус
                %th Заказчик
                %th Тип
                %th Цена
                %th Специалист
                %th Создан

              %tr
                %th
                %th{:title => 'Сортировать по'}
                  %select{:class => 'field size2 select_orders'}
                    %option{:value => 'update_date_desc', :selected => @filter == "update_date_desc" ? true : false} посл.
                    %option{:value => 'update_date_asc', :selected => @filter == "update_date_asc" ? true : false} перв.
                %th 
                /статусы
                %th{:title => 'Выбрать'}
                  %select{:class => 'field size2 select_orders'}
                    %option{:value => 'update_date_desc', :selected => @filter == "update_date_desc" ? true : false} все
                    - Order.state_machine(:work_state).states.each do |value|
                      %option{:value => "state_#{value.name}", :selected => @filter == "state_#{value.name}" ? true : false}= I18n.t "order.work_state.#{value.name}"
                /Заказчик
                %th{:title => 'Сортировать по'}
                  %select{:class => 'field size2 select_orders'}
                    %option{:value => 'update_date_desc', :selected => @filter == "update_date_desc" ? true : false} нет
                    %option{:value => 'client_asc', :selected => @filter == "client_asc" ? true : false} а-я
                    %option{:value => 'client_desc', :selected => @filter == "client_desc" ? true : false} я-а
                /Типы
                %th{:title => 'Выбрать'}
                  %select{:class => 'field size2 select_orders'}
                    %option{:value => 'update_date_desc', :selected => @filter == "update_date_desc" ? true : false} все
                    - OrderCustomizer.get_all.each do |value|
                      %option{:value => "type_#{value[:class] == 'SelectedForm' ? (value[:class] + '_' + value[:id]) : value[:class]}", :selected => @filter == "type_#{value[:class] == 'SelectedForm' ? (value[:class] + '_' + value[:id]) : value[:class]}" ? true : false}
                        = I18n.t "titles.#{value[:class] == 'SelectedForm' ? "selected_form.#{value[:typename]}" : value[:typename]}"
                /Цена
                %th{:title => 'Сортировать по'}
                  %select{:class => 'field size2 select_orders'}
                    %option{:value => 'update_date_desc', :selected => @filter == "update_date_desc" ? true : false} нет
                    %option{:value => 'price_asc', :selected => @filter == "price_asc" ? true : false} мин.
                    %option{:value => 'price_desc', :selected => @filter == "price_desc" ? true : false} макс.
                /Специалист
                %th{:title => 'Сортировать по'}
                  %select{:class => 'field size2 select_orders'}
                    %option{:value => 'update_date_desc', :selected => @filter == "update_date_desc" ? true : false} нет
                    %option{:value => 'specialist_asc', :selected => @filter == "specialist_asc" ? true : false} а-я
                    %option{:value => 'specialist_desc', :selected => @filter == "specialist_desc" ? true : false} я-а
                /Создан
                %th{:title => 'Сортировать по'}
                  %select{:class => 'field size2 select_orders'}
                    %option{:value => 'update_date_desc', :selected => @filter == "update_date_desc" ? true : false} нет
                    %option{:value => 'create_date_desc', :selected => @filter == "create_date_desc" ? true : false} посл.
                    %option{:value => 'create_date_asc', :selected => @filter == "create_date_asc" ? true : false} перв.

              - @orders.each_with_index do |value, index|

                %tr{:class => index % 2 == 0 ? '' : 'odd'}
      
                  %td
                    = link_to "#{value.id}", "order/#{value.id}"

                  %td= value.get_updated_date

                  %td
                    - if value.executor.nil?
                      =link_to 'Выставить цену и назначить специалиста', "/order/#{value.id}"
                    - else
                      =link_to 'Назначить нового специалиста', "/order/#{value.id}"

                  %td= I18n.t "order.work_state.#{value.work_state}"

                  %td
                    - unless value.client.nil?
                      = link_to "#{value.client.profile.full_name}", "/client/#{value.client.id}"
                    - else
                      нет

                  %td{:title => 'Узнать подробности', :style => 'cursor: pointer;'}
                    - unless value.orderable.nil?
                      - if value.orderable.is_a?(SelectedForm)
                        - unless value.orderable.order_customizer.nil?
                          %a= I18n.t "titles.#{value.orderable.is_a?(SelectedForm) ? "selected_form.#{value.orderable.order_customizer.try( :typename)}" : value.orderable_type.underscore}"
                        - else
                          нет
                      - else
                        %a= I18n.t "titles.#{value.orderable.is_a?(SelectedForm) ? "selected_form.#{value.orderable.order_customizer.try( :typename)}" : value.orderable_type.underscore}"

                  %td= value.price

                  %td
                    - unless value.executor.nil?
                      = link_to "#{value.executor.user.profile.full_name}", "/specialist/#{value.executor.user.id}"
                    - else
                      нет

                  %td= value.get_created_date
            
            /Pagging
            %div{:class => 'pagging'}
              %div{:class => 'left'} 
                = "Страницы #{@page_number_left}-#{@page_number_right} из #{@count_orders}"
              %div{:class => 'right'}
                = link_to 'Первая', "/adm/orders?page=1&filter=#{@filter}"

                - @get_left_pages.each do |value|
                  = link_to "#{value}", "/adm/orders?page=#{value}&filter=#{@filter}"

                = link_to "#{@page}", "/adm/orders?page=#{@page}&filter=#{@filter}", style: "border-color: #8c3521; background: #ba4c32;"

                - @get_right_pages.each do |value|
                  = link_to "#{value}", "/adm/orders?page=#{value}&filter=#{@filter}"

                = link_to 'Последняя', "/adm/orders?page=#{@last_page}&filter=#{@filter}"
      
      %div{:class => 'cl'} &nbsp;    

/Footer 
= render partial: 'adm/menu/footer'