/Header
= render partial: 'adm/menu/header'

/Container
%div{:id => 'container'}
  %div{:class => 'shell'}

    %div{:class => 'small-nav'}
      = link_to 'Админ-панель', 'orders'
      %span &gt;
      Заказы
    
    /Message OK
    %div{:class => 'msg msg-ok'}
      %p
        %strong Your file was uploaded succesifully!
      %a{:class => 'close', :href => '#'}
    
    /Message Error
    %div{:class => 'msg msg-error'}
      %p
        %strong You must select a file to upload first!
      %a{:class => 'close', :href => '#'}

    %br

    /Main
    %div{:id => 'main'}
      %div{:class => 'cl'} &nbsp;
      
      /Content
      %div{:id => 'content', :style => 'width: 100%;'}
        
        /Box
        %div{:class => 'box'}

          /Box Head
          %div{:class => 'box-head'}
            %h2{:class => 'left'} Заказы
            %div{:class => 'right'}
              %label search articles
              %input{:type => 'text', :class => 'field small-field'}
              %input{:type => 'submit', :class => 'button', :value => 'search'}

          /Table
          %div{:class => 'table'}
            %table{:width => '100%', :border => '0', :cellspacing => '0', :cellpadding => '0'}
              %tr
                %th ID
                %th ФИО
                %th Логин
                %th Специальность
                %th Статус
                %th Группы
                %th Почта
                %th Телефон
                %th Дата
                %th{:class => 'ac', :width => '110'} Действия

              %tr
                %td 12
                %td 12.05.09
                %td
                  = link_to 'Administrator', '#'
                %td 12.05.09
                %td 12.05.09
                %td 12.05.09
                %td 12.05.09
                %td 12.05.09
                %td 12.05.09
                %td
                  = link_to 'Delete', '#', class: 'ico del'
                  = link_to 'Edit', '#', class: 'ico edit'

              %tr{:class => 'odd'}
                %td 13
                %td 12.05.09
                %td
                  = link_to 'Administrator', '#'
                %td 12.05.09
                %td 12.05.09
                %td 12.05.09
                %td 12.05.09
                %td 12.05.09
                %td 12.05.09
                %td
                  = link_to 'Delete', '#', class: 'ico del'
                  = link_to 'Edit', '#', class: 'ico edit'   
            
            /Pagging
            %div{:class => 'pagging'}
              %div{:class => 'left'} Showing 1-12 of 44
              %div{:class => 'right'}
                = link_to 'Previous', '#'
                = link_to '1', '#'
                = link_to '2', '#'
                = link_to '3', '#'
                = link_to '4', '#'
                = link_to '444', '#'
                %span ...
                = link_to 'Next', '#'
      
      %div{:class => 'cl'} &nbsp;    

/Footer 
= render partial: 'adm/menu/footer'