%div.accreditation_heading
  Заполните заявку на аккредитацию
%div.accreditation_heading{:style => 'position: absolute; margin-top: -50px; margin-left: 70px;'}
  = @questionnaire_data.name
= form_for @worksheet, :html => {:class => 'add_worksheet_form'}, :url => {:controller => 'worksheet', :action => 'create'}, :method => 'post', remote: true, multipart: true do |f|
  %ul.accreditation

    %li
      .heading
        1. Основная информация
      .full_width
        %span.main_info_half  
          %ul.info
            - @headers_left.each do |value|
              = render_cell :questionnaire_field, "#{value.questionnaire_field.display}", :data => value
        %span.main_info_half
          %ul.info
            - @headers_right.each do |value|
              = render_cell :questionnaire_field, "#{value.questionnaire_field.display}", :data => value                           
      .full_width
        - @headers_center_full.each do |value|
          = render_cell :questionnaire_field, "#{value.questionnaire_field.display}", :data => value

    - if @questions_photo_test.size > 0
      %li
        .heading
          2. Выберите из представленных изображений самую гармоничную
        .full_width
          %ul#image_selecter
            - @questions_photo_test.each do |value|
              = render_cell :question, "#{value.kind}", :data => value

    - @questions_other.each do |value|
      = render_cell :question, "#{value.kind}", :data => value
                  
    %li
      .heading
        4. Перечень программ, в которых Вы работаете
      .full_width
        %ul.quis
          %li
            %input#autocad{type:'checkbox', value:'1'}  
            %label{:for => "autocad"}  AutoCAD 
            .knowledge_level
              %span.comment
                уровень владения:
              %ul
                %li.1level
                  %span 
                    1            
                %li.31level
                  %span               
                    2
                %li.41level
                  %span               
                    3
                %li.51level
                  %span               
                    4
                %li.51level
                  %span               
                    5           
          %li
            %input#adobe_photoshop{type:'checkbox', value:'1'}  
            %label{:for => "adobe_photoshop"}Adobe Photoshop  
            .knowledge_level
              %span.comment
                уровень владения:
              %ul
                %li.1level
                  %span 
                    1            
                %li.31level
                  %span               
                    2
                %li.41level
                  %span               
                    3
                %li.51level
                  %span               
                    4
                %li.51level
                  %span               
                    5             
          %li
            %input#archicad{type:'checkbox', value:'1'}  
            %label{:for => "archicad"}  ArchiCAD 
            .knowledge_level
              %span.comment
                уровень владения:
              %ul
                %li.1level
                  %span 
                    1            
                %li.31level
                  %span               
                    2
                %li.41level
                  %span               
                    3
                %li.51level
                  %span               
                    4
                %li.51level
                  %span               
                    5           
          %li
            %input#adobe_illustrator{type:'checkbox', value:'1'}  
            %label{:for => "adobe_illustrator"}Adobe Illustrator 
            .knowledge_level
              %span.comment
                уровень владения:
              %ul
                %li.1level
                  %span 
                    1            
                %li.31level
                  %span               
                    2
                %li.41level
                  %span               
                    3
                %li.51level
                  %span               
                    4
                %li.51level
                  %span               
                    5           
          %li
            %input#3dmax{type:'checkbox', value:'1'}  
            %label{:for => "3dmax"}  3D Max 
            .knowledge_level
              %span.comment
                уровень владения:
              %ul
                %li.1level
                  %span 
                    1            
                %li.31level
                  %span               
                    2
                %li.41level
                  %span               
                    3
                %li.51level
                  %span               
                    4
                %li.51level
                  %span               
                    5           
          %li
            %input#coral_draw{type:'checkbox', value:'1'}  
            %label{:for => "coral_draw"}Coral Draw
            .knowledge_level
              %span.comment
                уровень владения:
              %ul
                %li.1level
                  %span 
                    1            
                %li.31level
                  %span               
                    2
                %li.41level
                  %span               
                    3
                %li.51level
                  %span               
                    4
                %li.51level
                  %span               
                    5           
          %li
            %input#any{type:'checkbox', value:'1'}    
            %label{:for => "any"}Другое 
            %input#any{type:'text', value:'', class: 'textlines_default_light textline_l6-8 backg_default_light' }     
            .knowledge_level
              %span.comment
                уровень владения:
              %ul
                %li.1level
                  %span 
                    1            
                %li.31level
                  %span               
                    2
                %li.41level
                  %span               
                    3
                %li.51level
                  %span               
                    4
                %li.51level
                  %span               
                    5            

    %li
      .heading
        5. Совмещаете специальность дизайнера?   
      %span.logical_ques{style:'clear:both; margin-left:450px;'}
        %input#needed_true.radio_buttons.optional{checked: "checked", type: "radio", value: "true", name:"designer_needings"}
        %label.collection_radio_buttons{:for=>"needed_true"}Да     

        %input#needed_false.radio_buttons.optional{type: "radio", value: "true", name:"designer_needings"}
        %label.collection_radio_buttons{:for=>"needed_false"}Нет

    %li
      .heading
        6. Техники, которыми Вы лучше всего владеете: 
      .full_width
        %ul.quis
          %li
            %input#fabrics{type:'checkbox', value:'1'}  
            %label{:for => "fabrics"}  Ткани 
            .knowledge_level
              %span.comment
                уровень владения:
              %ul
                %li.1level
                  %span 
                    1            
                %li.31level
                  %span               
                    2
                %li.41level
                  %span               
                    3
                %li.51level
                  %span               
                    4
                %li.51level
                  %span               
                    5           
          %li
            %input#metal_products{type:'checkbox', value:'1'}  
            %label{:for => "metal_products"}Изделия из металла 
            .knowledge_level
              %span.comment
                уровень владения:
              %ul
                %li.1level
                  %span 
                    1            
                %li.31level
                  %span               
                    2
                %li.41level
                  %span               
                    3
                %li.51level
                  %span               
                    4
                %li.51level
                  %span               
                    5               
          %li
            %input#wood_products_andfurniture{type:'checkbox', value:'1'}  
            %label{:for => "wood_products_andfurniture"}Изделия из дерева и мебель 
            .knowledge_level
              %span.comment
                уровень владения:
              %ul
                %li.1level
                  %span 
                    1            
                %li.31level
                  %span               
                    2
                %li.41level
                  %span               
                    3
                %li.51level
                  %span               
                    4
                %li.51level
                  %span               
                    5           
          %li
            %input#wood_and_furnitures{type:'checkbox', value:'1'}  
            %label{:for => "wood_and_furnitures"} Камень и гипс
            .knowledge_level
              %span.comment
                уровень владения:
              %ul
                %li.1level
                  %span 
                    1            
                %li.31level
                  %span               
                    2
                %li.41level
                  %span               
                    3
                %li.51level
                  %span               
                    4
                %li.51level
                  %span               
                    5           
          %li
            %input#stained_glass_and_glassware{type:'checkbox', value:'1'}  
            %label{:for => "stained_glass_and_glassware"}Витражи и мозаика. Изделия из стекла   
            .knowledge_level
              %span.comment
                уровень владения:
              %ul
                %li.1level
                  %span 
                    1            
                %li.31level
                  %span               
                    2
                %li.41level
                  %span               
                    3
                %li.51level
                  %span               
                    4
                %li.51level
                  %span               
                    5                    
    %li
      .heading
        7. Вопрос на кругозор
      .full_width
        .padding_left
          Ответ:
          %input.textlines_default_light.textline_l14.backg_default_light{type:'text', value:''}  
      
    
    %li
      .heading
        8. Ваши достижения
      .full_width
        .padding_left   
          Прикрепите Ваше портфолио с описанием файлов 
          %div.alert
            (Вы можете прикрепить заархививированные файлы):  
          %ul.quis
            %li
              1.
              %input.textlines_default_light.textline_l12.backg_default_light{type:'text', value:''}  
              %input.file_att{type:'button', value:'Прирепить'}
            %li
              2.
              %input.textlines_default_light.textline_l12.backg_default_light{type:'text', value:''} 
              %input.file_att{type:'button', value:'Прирепить'}            
            %li
              3.
              %input.textlines_default_light.textline_l12.backg_default_light{type:'text', value:''}  
              %input.file_att{type:'button', value:'Прирепить'}                                       
    %li
      .heading
        9. Ваш опыт работы в компаниях
      .full_width
        %ul.quis.break
          %li
            %span
              Наименование организации:
            %input.textlines_default_light.textline_l13.backg_default_light{type:'text', value:'',style:'margin-top: 20px;'} 
          %li
            %span
              Должность:
            %input.textlines_default_light.textline_l13.backg_default_light{type:'text', value:''} 
          %li
            %span
              Должностные обязанности:
            %ul.manage
              %li     
                %input.textlines_default_light.textline_l13.backg_default_light{type:'text', value:''}   
              %li     
                %input.textlines_default_light.textline_l13.backg_default_light{type:'text', value:''}     
              %li     
                %input.textlines_default_light.textline_l13.backg_default_light{type:'text', value:''}
          %li
            %span.add_new                                                      

    %li
      .heading
        Основные правила портала «Дизайн-сервис»
      .full_width
        %ul.quis
          %li
            1. Работа только по командам
          %li
            2. Без согласия портала Дизайн-сервис запрещается обмениваться контактными данными 
      .submiting_part 
        %input#agree_validation{type:'checkbox', value:'1'}  
        %label{:for => "agree_validation"}ИСогласен с правилами портала «Дизайн-сервис»
        %span.submit_button{:id => 'add_worksheet'}