= link_to specialists_path(specialist_type: 'architectors') do
  #architect.specMenuButton
    %p.specMenuCaption Архитекторы
= link_to specialists_path(specialist_type: 'designers') do
  #Designer.specMenuButton
    %p.specMenuCaption Дизайнеры
= link_to specialists_path(specialist_type: 'engineers') do
  #Enginere.specMenuButton
    %p.specMenuCaption Инженеры
= link_to specialists_path(specialist_type: 'building_firms') do
  #BuildCompany.specMenuButton
    %p.specMenuCaption Строительные фирмы
= link_to specialists_path(specialist_type: 'building_companies') do
  #BuildAshot.specMenuButton
    %p.specMenuCaption Строительные бригады
