= link_to specialist_groups_path(specialization: 'architector') do
  #architect.specMenuButton
    %p.specMenuCaption Архитекторы
= link_to specialist_groups_path(specialization: 'designer') do
  #Designer.specMenuButton
    %p.specMenuCaption Дизайнеры
= link_to specialist_groups_path(specialization: 'engineer') do
  #Enginere.specMenuButton
    %p.specMenuCaption Инженеры
= link_to specialist_groups_path(specialization: 'building_firm') do
  #BuildCompany.specMenuButton
    %p.specMenuCaption Строительные фирмы
= link_to specialist_groups_path(specialization: 'building_company') do
  #BuildAshot.specMenuButton
    %p.specMenuCaption Строительные бригады
