.specialist_orders.rounded-corners{:class => "#{order.border_class_mild}" }
  .date.rounded-corners_l3{:class => "#{order.border_class_mild}" }= order.completion_time
  .name
    Наименование:
    %span
      = link_to order.title, url_for(order.orderable)
  .client
    Заказчик:
    %ul
      %li= order.client
  .status
    предварительная цена:
    %span #{order.price} руб.
  = link_to url_for(order.orderable) do
    .show_more
