._razrabotka_var.rounded-corners{:class => "#{order.border_class_mild}" }
  .date.rounded-corners_l3{:class => "#{order.border_class_mild}" }= order.completion_time
  .name
    Наименование:
    %span
      = link_to order.title, url_for(order.orderable)

  - if User.current.client?
    - if order.paid?
      = render partial: 'orders/clients/order_paid', locals: {order: order}
    - else
      = render partial: 'orders/clients/order_unpaid', locals: {order: order}
  - elsif User.current.specialist?
    - if order.paid?
      = render partial: 'orders/specialists/order_paid', locals: {order: order}
    - else
      = render partial: 'orders/specialists/order_unpaid', locals: {order: order}
