._razrabotka_var.rounded-corners{:class => ["#{order.border_class_mild}"] + (User.current.specialist? ? ['specialist_orders'] : [])  }
  .date.rounded-corners_l3{:class => "#{order.border_class_mild}" }= order.completion_time
  .name
    Наименование:
    %span
      = link_to order.title, url_for(order.orderable)
  .artists
    - if User.current.client?
      Исполнители:
      %ul
        %li= order.executor
    - elsif User.current.specialist?
      Заказчик:
      %ul
        %li= order.client
  .completion
    %span.tit До завершения:
    %ul
      %li{:class => (order.completion_time ? 'payid' : '')}= order.time_to_finish
  .status
    Состояние:
    %span= order.work_state
  .pay_now
    - if User.current.client? && !order.paid?
      = robo_pay(order)
  .msg
    %span
      %a{:href=>"#", :data => {:messages_url => order_messages_path(order), :order_id => order.id, :order_url => url_for(order.orderable)} } Новое сообщение
  .completed
    завершено
    .percentage_blocks
      %span.percentage
        %span.value_percent #{order.completion_percent}%
        %span.bar
  .price
    - if User.current.specialist?
      .value #{order.specialist_price || order.money_for_specialist} руб.
    - elsif User.current.client?
      .value #{order.price} руб.
    - if order.can_agree_price?
      = link_to agree_price_order_path(order, format: 'json'), remote: true, method: :put do
        %span.agree принять цену
  -#.documents
    Документы:
    %ul
      %li
        %a{:href => ""} Договор
      %li
        %a{:href => ""} Акты
      %li
        %a{:href => ""} Оплата
