!!!
%html
  %head
    %title Админка
    = stylesheet_link_tag "adm/style", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "#{params[:controller]}.js" if Rails.application.assets.find_asset("#{params[:controller]}.js")
    = csrf_meta_tags
    /[if lt IE 9]
      <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>

  %body
    = yield