= plan_development.address
= plan_development.floor
= plan_development.section
= plan_development.num_standpipes
= plan_development.family_composition.text
= plan_development.join_kitchen_with_living_room
= plan_development.big_kitchen
= plan_development.cloakroom_needed
= plan_development.num_builtin_closets
= plan_development.cabinet_needed
= plan_development.num_guests
= plan_development.num_bedrooms
= plan_development.washing_room_needed
= plan_development.num_plans
= plan_development.comment.text
= plan_development.attachment
