= plan_development.render_attribute('full_address')
= plan_development.render_attribute('num_standpipes')
= plan_development.render_attribute('family_composition')
= plan_development.render_attribute('join_kitchen_with_living_room')
= plan_development.render_attribute('big_kitchen')

= plan_development.render_attribute('cloakroom_needed')
= plan_development.render_attribute('num_builtin_closets')

= plan_development.render_attribute('cabinet_needed')
= plan_development.render_attribute('num_guests')
= plan_development.render_attribute('num_bedrooms')
= plan_development.render_attribute('washing_room_needed')
= plan_development.render_attribute('num_plans')
= plan_development.render_attribute('comment')
= plan_development.render_attribute('attachment_info')