= show_for plan_development do |s|
  = s.attribute :full_address
  = s.attribute :num_standpipes
  = s.attribute :family_composition
  = s.attribute :join_kitchen_with_living_room
  /= s.attribute :big_kitchen, value: :text

  = s.attribute :cloakroom_needed
  = s.attribute :num_builtin_closets

  = s.attribute :cabinet_needed
  /= s.attribute :num_guests, value: :text
  = s.attribute :num_bedrooms
  = s.attribute :washing_room_needed
  = s.attribute :num_plans
  = s.attribute :comment
  = s.attribute :attachment_info