/ = render 'form'
.wtf{style: 'clear:both;'}
.Manual
  %p Заполните заявку:
= simple_nested_form_for @plan_development, html: {multipart: true, class: 'postVarPlan'} do |f|
  #post1Adress.postContainer
    #postNumber1.postNumber
    #postCaption1.postCaption
    .clearfloat
    #post1Forms
      #post1Text.postFormText
        = f.simple_fields_for :flat_info do |flatinfo_f|
          = flatinfo_f.simple_fields_for :address do |address_f|
            = address_f.input :address, input_html: {class: 'adress'}
            .line
              %div{style:"float:left;"}= address_f.input :floor, input_html: {class: 'floor'}
              %div{style:"float:left;"}= address_f.input :section, input_html: {class: 'section'}
              .clearfloat
          = flatinfo_f.input :num_standpipes, as: :string, input_html: {class: 'waterFlows'}
          = flatinfo_f.simple_fields_for :family_composition do |family_f|
            = family_f.input :first_line, input_html: {class: 'family'}, placeholder: '(Укажите количество и пол детей)', label: 'Состав семьи:'
            = family_f.input :second_line, input_html: {class: 'children'}, label: false
    
  #post2Quest.postContainer
    #postCaption2.postCaption
    #postNumber2.postNumber
    .clearfloat
    #post2Forms
      /#kitchenContainer
      #TextKitchenSplit.postFormText
        = f.input :join_kitchen_with_living_room, as: :radio_buttons
      #KitchenSquare.postFormText
        = f.input :big_kitchen, as: :radio_buttons, collection: PlanDevelopment::KITCHEN_SIZE, value_method: :first, label_method: :last, input_html: {class: 'kitchenSize'}
      #TextClothRoom.postFormText
        = f.input :cloakroom_needed, as: :radio_buttons
      #TextWardrobes.postFormText
        = f.input :num_builtin_closets, as: :string, input_html: {id: 'Wardrobes', class: 'wardrobes'}
      #TextCabinet.postFormText
        = f.input :cabinet_needed, as: :radio_buttons
      #GuestText.postFormText
        = f.input :num_guests, as: :radio_buttons, collection: PlanDevelopment::NUM_GUESTS, value_method: :first, label_method: :last
      #SleepersText.postFormText
        = f.input :num_bedrooms, as: :string, input_html: {id: 'SleepersCount', class: 'Sleepers'}
      #LaundryText.postFormText
        = f.input :washing_room_needed, as: :radio_buttons
      #CountText.postFormText
        = f.input :num_plans, as: :string, input_html: {id: 'PlanCount', class: 'varPlanCount'}
    
  #post3Wish.postContainer
    #postNumber3.postNumber
    #postCaption3.postCaption
    #postFroms3.postForms
    = f.simple_fields_for :comment do |comment_f|
      = comment_f.input :text, as: :text, input_html: {cols: 60, rows:3, class: 'postComment'}, label: false

  #post4Attach.postContainer
    #postNumber4.postNumber
    #postCaption4.postCaption
    #fileGrab.OMFGFILEGRAB
      .clearfloat
      %p
        Вы можете перетащить файлы сюда
      /%input{:type => "file", :value => "Attach lol"}/
      = f.simple_fields_for :attachment do |attchment_f|
        = attchment_f.input :file, as: :file, label: false

  .calcContainer
    .calc
    .count
      %p
        Ваш заказ обрабатывается. Ждите $time.
        %br/
        Получить уведомление на e-mail.

  .actions
    #cancel
      /%input{:type => "reset"}/
      = f.submit '', type: 'reset'
    #postRequest
      = f.submit ''
    .clearfloat