.order_fields
  = simple_form_for selected_form, remote: true, html: {class: 'orderable'},  defaults: { input_html: { disabled: disabled } } do |f|
    = f.input_field :typename, as: :hidden
    .design_p_color_scheme_form1.border_x1.rounded-corners_l2.shadow_x1
      .number._1
      .form_description.input_data
      .file_attaching.border_x5.rounded-corners_l3
        .attach_place_for_box

      .number._2
      .form_description.job
      %span.text
        Наименование помещения: #{ f.input_field :flat_area, class: 'textlines_default textline_l6-5', id:"ployad_pomijenya" }
      .color_sliders
        %span.head
          Какая цветовая гамма желательно для помещения ?
          %ul
            %li
              %span.left
                Прохладная
              %span.slider_bar
              %span.right
                Теплая  

            %li
              %span.left
                Расслабляющая
              %span.slider_bar
              %span.right
                Бодрящая                

            %li
              %span.left
                Пастельные оттенки
              %span.slider_bar
              %span.right
                Сочная. насыщенная

            %li
              %span.left
                Натуральная
              %span.slider_bar
              %span.right
                Современная

            %li
              %span.left
                Уравновещенная
              %span.slider_bar
              %span.right
                Смелая

      .color_keyboard_block
        %span Ваш любимый цвет в колористической композиции:
        .color_keyboard
          %ul.wide
            %li{:value => "#fdabb2"}
            %li{:value => "#faa486"}
            %li{:value => "#ffbf64"}
            %li{:value => "#f0d167"}
            %li{:value => "#b3e360"}
            %li{:value => "#87ffb4"}
            %li{:value => "#a4efff"}
            %li{:value => "#719bfc"}
            %li{:value => "#928afa"}
            %li{:value => "#cf83ce"}
          %ul.short
            %li{:value => "#fb3737"}
            %li.dis_short{:value => "#fd9437"}
            %li.dis_long{:value => "#fdf037"}
            %li.dis_short{:value => "#42cd37"}
            %li.dis_short{:value => "#37f1fd"}
            %li.dis_long{:value => "#4037fd"}
            %li.dis_short{:value => "#9937fd"}
          = f.input_field :main_color, as: :hidden, id: "selected_color"
      
      .selected_objects
        %span
          Требуется ли учесть уже выбранных Вами обьектов
        %ul
          %li
            %input#furniture{type:'checkbox', value:'1', class:"what_to_attach" , checked:"checked"}  
            %label{:for => "furniture"}  Мебель  
          %li
            %input#wallpaper-tiles{type:'checkbox', value:'1', class:"what_to_attach"}  
            %label{:for => "wallpaper-tiles"}  Обоев, плитки
          %li
            %input#curtains{type:'checkbox', value:'1',  class:"what_to_attach"}  
            %label{:for => "curtains"}  Штор 
          %li
            %input#floor_material{type:'checkbox', value:'1', class:"what_to_attach"}  
            %label{:for => "floor_material"}  Материала пола 
          %li
            %input#any{type:'checkbox', value:'1', class:"what_to_attach"}  
            %label{:for => "any"}  
              Другое
              %input.textlines_default.textline_l6-5{type:"text"}                                                 

      .present_results
        Как Вам представить результат?
        = f.input_field :show_results_different, as: :radio_buttons, collection: SelectedForm.show_results_different.options
    .design_p_color_scheme_form2.border_x3.rounded-corners_l2.shadow_x1
      .number._3
      .form_description.wishes
      = f.input_field :wishes, as: :text, cols: 60, rows:3, class: "postComment textline_l12"
    %span.design_p_color_scheme-caution2 Итоговую стоимость заказа Вы можете посмотреть в личном кабинете после отправки!
    = render partial: 'shared/orderable_submission_box', locals: {disabled: disabled, wrapper_class: 'design_p_color_scheme_submiting'}

  .loaded_files{:class => "#{disabled ? 'disabled' : 'enabled'}"}
    = render partial: 'attachments/list_of_attachments', locals:{attachments: selected_form.attachments, has_remove_button: !disabled}
  = render partial: 'attachments/drag_n_drop_box', locals: {attached_to: selected_form, kind: 'plan_with_furniture', disabled: disabled, wrapper_class: ''}

  %span.attach_info_block.caution  
    Обязательно необходимо добавить;
    %ol.selected_forms
      %li.furniture План с расстановкой мебели
      %li.wallpaper-tiles План расстановки светильников, электрооборудования, розеток и других электроприборов!
      %li.curtains План, где указаны привязки и размеры проемов
      %li.floor_material План, где указаны привязки и размеры проемов
      %li.any План, где указаны привязки и размеры проемов