.order_fields
  = simple_nested_form_for selected_form, remote: true, html: {class: 'orderable'},  defaults: { input_html: { disabled: disabled } } do |f|
    = f.input_field :typename, as: :hidden
    .design_p_floor_plans_form1.border_x1.rounded-corners_l2.shadow_x1
      .number._1
      .form_description.input_data
      .file_attaching.border_x5.rounded-corners_l3.multiattach
        .attach_place_for_box

      .number._2
      .form_description.job
      .interior
        Какой стиль интерьера Вы предпочитаете?
        = f.input_field :interior_style, as: :radio_buttons, collection: SelectedForm.interior_style.options
        = f.input_field :interior_style_comment, as: :string, class: ['textlines_default', 'textline_l5'], size:10

      .depending
        Зависимость от потолков?
        = f.input_field :ceiling_dependence, as: :radio_buttons

      .what_materials
        Из каких материалов?
        = f.input :materials_designer_choise, label: 'На усмотрение дизайнера', wrapper_tag: 'span'

      .rooms
        = render partial: 'order_customizers/forms/floor_plans/places', locals: {orderable_form: f}
        = f.link_to_add :floor_plans do
          %span.add_room Добавить помещение

    .design_p_floor_plans_form2.border_x3.rounded-corners_l2.shadow_x1
      .number._3
      .form_description.wishes
      = f.input_field :wishes, as: :text, cols: 60, rows:3, class: "postComment textline_l12"

    %span.design_p_floor_plans-caution2 Итоговую стоимость заказа Вы можете посмотреть в личном кабинете после отправки!
    = render partial: 'shared/orderable_submission_box', locals: {disabled: disabled, wrapper_class: 'design_p_floor_plans_submiting'}

  .loaded_files{:class => "#{disabled ? 'disabled' : 'enabled'}"}
    = render partial: 'attachments/list_of_attachments', locals:{attachments: selected_form.attachments, has_remove_button: !disabled}
  = render partial: 'attachments/drag_n_drop_box', locals: {attached_to: selected_form, kind: 'plan_with_furniture', disabled: disabled, wrapper_class: ''}
  %span.attach_info_block.caution 
    Прикрепите:
    %ul
      %li 1. план с расстановкой мебели!
      %li 2. ИЗОБРАЖЕНИЕ концепции или пример!
