!!!
%html
  %head
    %title Дизайн сервис.
    = stylesheet_link_tag "common/application", :media => "all"
    = stylesheet_link_tag "unregistered/application", :media => "all"
    = stylesheet_link_tag "common/#{params[:controller]}.css" if Rails.application.assets.find_asset("common/#{params[:controller]}.css")
    = stylesheet_link_tag "unregistered/#{params[:controller]}.css" if Rails.application.assets.find_asset("unregistered/#{params[:controller]}.css")
    = javascript_include_tag "application"
    = javascript_include_tag "#{params[:controller]}.js" if Rails.application.assets.find_asset("#{params[:controller]}.js")
    = csrf_meta_tags
    /[if lt IE 9]
      <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
  %body
    %noindex
      = render 'layouts/unregistered/login_popup'
      .twoColFixRtHdr
        .border_ornements
          .header_top
            .coconut_leaves
              #container
                = render 'layouts/unregistered/header'
                #maincontent_index
                  = render 'layouts/unregistered/specialists'
                  = render 'layouts/welcome_page/worktypes'
              = render 'layouts/footer'
