= show_for resource do |s|
  = s.association :client do |c|
    = c.decorate.admin_link
  = s.attribute :developed_by_general_projector
  = s.attribute :flat_area
  = s.attribute :replanning_organization_licensed

= simple_form_for [:admin, resource] do |f|
  = f.input :price
  = f.submit
