.artists
  Исполнители:
  %ul
    %li= order.executor
.completion
  %span.tit Завершения:
  %ul
    %li будет определена после оплаты
    %li= order.time_to_finish
.status
  Состояние:
  %span= order.title
.pay_now
  = robo_pay(order)
  -# prch = order.payments.where(:state => :requested).order("id desc").map{|p| p.purchases.where(:state => :requested).order("id desc") }.flatten.compact.first }
  -# %script{:language => 'JavaScript', :src => "https://auth.robokassa.ru/Merchant/Handler/MrchSumPreview.ashx?MrchLogin=instyle&OutSum=#{prch.amount}&InvId=#{prch.id }"}
  /!!!!!!!!!
  /= link_to 'Оплатите заказ', robo_pay(order)
  /= link_to 'Оплатите заказ', replenishment_personal_account_path
.msg
  %span
    %a{:href=>"#", :data => {:msg_url => "#{order_messages_path(order)}"} } Новое сообщение
.completed
  завершено
  .presentage_blocks
    %span.presentage
      %span.value_present #{order.completion_percent}%
      %span.bar
.documents
  Документы:
  %ul
    %li
      %a{:href => ""} Договор
    %li
      %a{:href => ""} Акты
    %li
      %a{:href => ""} Оплата
