/Header
= render partial: 'adm/menu/header'

/Container
%input{:type => 'hidden', :id => 'questionnaire_id', :value => @id}
%div{:id => 'container'}
  %div{:class => 'shell'}

    %div{:class => 'small-nav'}
      = link_to 'Админ-панель', 'orders'
      %span &gt;
      = link_to 'Шаблоны анкет', '/adm/questionnaire'
      %span &gt;
      Шаблон анкеты "#{@questionnaire_data.name}"
    
    = render partial: 'adm/menu/popups'

    /Main
    %div{:id => 'main'}
      %div{:class => 'cl'} &nbsp;
      
      /Content
      %div{:id => 'content', :style => 'width: 100%;'}
        
        /Box
        %div{:class => 'box'}

          /Box Head
          %div{:class => 'box-head'}
            %h2{:class => 'left'} Шаблон анкеты "#{@questionnaire_data.name}"
            %div{:class => 'right'}
              /%label search articles
              /%input{:type => 'text', :class => 'field small-field'}
              /%input{:type => 'submit', :class => 'button', :value => 'search'}

          /Table
          %div{:class => 'table'}
            %div{:class => 'form'}
              %p
                %label Заголовок
                %br
                %input{:type => 'text', :id => 'questionnaire_name', :class => 'field small-field', :value => "#{@questionnaire_data.name}"}
                %br
                %span{:class => 'req', :style => 'float: none;'}
                  %select{:class => 'field size3 select_specialization'}
                    - @specializations.each do |value|
                      %option{:value => "#{value.id}", :selected => value.id == @questionnaire_data.specialization_id ? true : false}
                        = I18n.t "enumerize.specialization.#{value.name}"
                %br
                %input{:type => 'button', :class => 'button save_header_data', :value => 'Сохранить'}

            %div{:class => 'form'}
              %p
                %label Основная информация
                %br
                - @questionnaire_data.questionnaire_fields_questionnaires.order("location, position").each do |value|
                  = render_cell :questionnaire_field, "#{value.questionnaire_field.display}_admin", :data => value.questionnaire_field, :details => value
                %br
                %div{:class => 'block_inline'}
                  %select{:class => 'block_inline_select select_field_for_add'}
                    - QuestionnaireField.all.each do |display_value|
                      %option{:value => display_value.id}
                        #{display_value.name}
                  %input{:type => 'button', :class => 'button block_inline_select add_field_in_questionnaire', :value => "Добавить"}

        /Box
        %div{:class => 'box'}

          /Box Head
          %div{:class => 'box-head'}
            %h2{:class => 'left'} Список вопросов
            %div{:class => 'right'}
              /%label search articles
              /%input{:type => 'text', :class => 'field small-field'}
              /%input{:type => 'submit', :class => 'button', :value => 'search'}

          /Table
          %div{:class => 'table'}
            %div{:class => 'form'}
              - @questionnaire_data.questions.order("position").each do |value|
                %p
                  %label{:style => 'font-size: 23px;'} #{value.name}
                  %br
                  %div
                    %span{:style => 'font-size: 14px;'}
                      Настройки вопроса
                    %br
                    %br

                    %div
                      %input{:type => 'hidden', :value => value.id, :class => 'question_id'}
                      %div{:class => 'block_inline'}
                        %span{:style => 'width: 200px;'} Название
                        %input{:type => 'text', :style => "", :class => "field small-field question_name", :value => value.name}
                      %div{:class => 'block_inline'}
                        %span{:style => 'width: 200px;'} Кол-во ответов
                        %input{:type => 'text', :style => "width: 20px;", :class => "field small-field question_count_all", :value => value.count_all}
                      %div{:class => 'block_inline'}
                        %span{:style => 'width: 200px;'} Кол-во правильных ответов
                        %input{:type => 'text', :style => "width: 20px;", :class => "field small-field question_count_true", :value => value.count_true}
                      %input{:type => 'button', :class => 'button block_inline_select save_question_headers', :value => "Сохранить"}
  
                    %br
                    %br
                    %span{:style => 'font-size: 14px;'}
                      Ответы
                    %br
                    %br
                    - value.question_fields.order("position").each do |question_field|
                      = render_cell :question_field, "#{question_field.display}_admin", :data => question_field

                    %br
                    %span{:style => 'font-size: 14px;'}
                      Добавить ответ
                    %br
                    %br
                    %select
                      - QuestionField.displays.values.each do |display|
                        %option{:value => display}
                          = I18n.t "enumerize.question_field.displays.#{display}"
                    %input{:type => 'button', :class => 'button', :value => 'Добавить'}
                
      %div{:class => 'cl'} &nbsp;    

/Footer 
= render partial: 'adm/menu/footer'