#register_stage2.rounded-corners_l2.border_x1.shadow_x1{:style => "display: block; margin-top: 0.5cm;"}
  = simple_form_for(@user ||= User.new, as: :user, :url => stage2_user_registration_path, :method => :get, html: {class: 'registration_stage2'}) do |f|
    .head_register
    .goto_login_fix
      %input.submit_button{:alt => "Submit Form", :src => asset_path("enter_logo_small_hover.png"), :type => "image"}
    .content= I18n.t("registration.step2.li1")
    .content
      На вашу почту 
      %span 
        = mail_to mail
    .content= I18n.t("registration.step2.li3")
    .wish= I18n.t("registration.step2.li4")
    .control
      %input.submit_button{:alt => "Submit Form", :src => asset_path("ok_button.png"), :type => "image"}
