= simple_form_for(@user ||= User.new, as: :user, :url => registration_path(:user), html: {class: 'registration_form'}) do |f|
  - if params[:controller] == 'registrations'
    .head_register
    = link_to "/users/sign_in" do
      .goto_login
  - else
    .head_register
    .goto_login
  .info
    Логин:
    %span *
  .text_fields
    %span.caution (латинские символы и цифры, не меньше 3 символов)
    = f.input_field :username
  .info
    E-mail:
    %span *
  .text_fields= f.input_field :email
  .info
    Телефон:
  .text_fields= f.input_field :phone
  .info
    Пароль:
    %span *
  .text_fields
    %span.caution (не меньше 8 символов)
    = f.input_field :password
  .info
    Повторите&nbsp;&nbsp; пароль:
    %span *
  .text_fields= f.input_field :password_confirmation
  .control
    %input.submit_button{:alt => "Submit Form", :src => asset_path("ok_button.png"), :type => "image"}
