= simple_form_for(@user ||= User.new, as: :user, :url => registration_path(:user)) do |f|
  .head_register
  .info
    Логин:
    %span *
  .text_fields
    %span.caution (латинские символы и цифры)
    = f.input_field :username, class: 'reg_client_tfeild'
  .info
    E-mail:
    %span *
  .text_fields= f.input_field :email, class: 'reg_client_tfeild'
  .info
    Пароль:
    %span *
  .text_fields= f.input_field :password, class: 'reg_client_tfeild'
  .info
    Повторите&nbsp;&nbsp; пароль:
    %span *
  .text_fields= f.input_field :password_confirmation, class: 'reg_client_tfeild'
  .control
    %input.submit_button{:alt => "Submit Form", :src => asset_path("ok_button.png"), :type => "image"}
