= orderable_form.fields_for :floor_plans do |f|
  .room_blocks
    .place
      Помещение
      = f.input_field :room, class: 'room_name textlines_default textline_l6-5'
      = f.link_to_remove do
        %span.remove_room
    %ul.border_x6.rounded-corners_l3
      %li
        = f.input :artificial_cold, class: 'room_block1option1', label: 'Искусственных холодных', wrapper: false
      %li
        = f.input :artificial_warm, class: 'room_block1option2', label: 'Искусственных теплых', wrapper: false
      %li
        = f.input :carpet_or_printed_carpet, class: 'room_block1option3', label: 'Ковролин или набивной рисунок ковра', wrapper: false
      %li
        = f.input :stone, class: 'room_block1option4', label: 'Камень', wrapper: false
      %li
        = f.input :tree, class: 'room_block1option5', label: 'Дерево', wrapper: false

