%li
  .heading
    = @index_question
    = @data.name
  .full_width
    .padding_left{style:'margin-bottom:15px;'}    
      = @data.value
    .padding_left
      %ul.quis
        %li.value_field
          %span_empty.span_empty 1.
          %input.textlines_default_light.textline_l14.backg_default_light.value_field_1{type:'text', name: "question_field[value-#{@data.id}]"}  
        %li.value_field
          %span_empty.span_empty 2.
          %input.textlines_default_light.textline_l14.backg_default_light.value_field_2{type:'text', name: "question_field[value-#{@data.id}]"}  
        %li.value_field
          %span_empty.span_empty 3.
          %input.textlines_default_light.textline_l14.backg_default_light.value_field_3{type:'text', name: "question_field[value-#{@data.id}]"}
        %li
          %span.add_new.add_new_fields_value
          %input{:type => 'hidden', :value => '4'}
          %input{:type => 'hidden', :value => @data.id}