%div{:id => 'header'}
  %div{:class => 'shell'}
    /Logo + Top Nav
    %div{:id => 'top'}
      %h1
        = link_to 'Дизайн сервис', 'http://dsn-service.ru'
      %div{:id => 'top-navigation'}
        Welcome 
        %a{:href => '#'} 
          %strong Administrator
        %span 
          |
        = link_to 'Help', '#'
        %span 
          |
        = link_to 'Profile Settings', '#'
        %span 
          |
        = link_to 'Log out', '#'
    /End Logo + Top Nav
    /Main Nav
    = render partial: 'adm/menu/top_menu'
    /End Main Nav