= show_for resource do |s|
  = s.attribute :role
  = s.attribute :username
  = s.attribute :surname
  = s.attribute :name
  = s.attribute :middle_name
  = s.attribute :email
  = s.attribute :orders_info_link
  = s.attribute :specialist_info_link
  = s.attribute :current_sign_in_at
  = s.attribute :last_sign_in_at
  = s.attribute :sign_in_count
  = s.attribute :qiwi
