.user
 .orders
  .head
   Заказы клиента
   %table
    %tr
     %th Номер заказа
     %th Тип заказа
     %th Статус заказа
     %th Стоимость
     %th Выполнено (в %)
     %th Дата завершения
     %th Специалист ФИО
    - resource.orders.each do |order|
     %tr
      %td= link_to order.id.to_s, admin_order_path(order)
      %td= order.orderable.class.name
      %td= order.work_state
      %td= order.price
      %td= order.completion_percent
      %td= order.completion_time
      %td= order.executor.try(:full_name)
 .qiwi
  На счету: #{resource.qiwi} руб.
 .transactions
  %h4 Денежные переводы
  %table
   %tr
    %th Дата
    %th Сумма
    %th Откуда
    %th Куда
   - transactions.each do |tr|
    %tr
     %td= tr.created_at.to_s
     %td= tr.amount
     %td= tr.source
     %td= tr.destination
 .form
  = simple_form_for [:admin, resource] do |f|
   = f.input :email
   = simple_fields_for :profile do |pf|
    = pf.input :name
    = pf.input :middle_name
    = pf.input :surname
    = f.input :phone
   = f.submit
