= resource.price
= resource.full_address
= resource.num_standpipes
= resource.family_composition.text
= resource.join_kitchen_with_living_room
= resource.big_kitchen
= resource.cloakroom_needed
= resource.num_builtin_closets
= resource.cabinet_needed
= resource.num_guests
= resource.num_bedrooms
= resource.washing_room_needed
= resource.num_plans
= resource.comment.text
= resource.attachment_info
