<ul id="menu_sub_left">
  <li><a href="<%= specialist_groups_path(specialization: 'architector') %>"><span>Архитекторы</span></a></li>
  <li><a href="<%= specialist_groups_path(specialization: 'designer') %>"><span>Дизайнеры</span></a></li>
  <li><a href="<%= specialist_groups_path(specialization: 'engineer') %>"><span>Инженеры</span></a></li>
  <li><a href="<%= specialist_groups_path(specialization: 'building_company') %>"><span>Строительные фирмы</span></a></li>
  <li><a href="<%= specialist_groups_path(specialization: 'building_brigade') %>"><span>Строительные бригады</span></a></li>
</ul>
