<ul id="main_menu" class="main_page">
  <li><a href="<%= specialist_groups_path(specialization: 'architector') %>"><span><p>Архитекторы</p></span></a></li>
  <li><a href="<%= specialist_groups_path(specialization: 'designer') %>"><span><p>Дизайнеры</p></span></a></li>
  <li><a href="<%= specialist_groups_path(specialization: 'engineer') %>"><span><p>Инженеры</p></span></a></li>
  <li><a href="<%= specialist_groups_path(specialization: 'building_company') %>"><span><p>Строительные фирмы</p></span></a></li>
  <li><a href="<%= specialist_groups_path(specialization: 'building_brigade') %>"><span><p>Строительные бригады</p></span></a></li>
</ul>
