!!!
%html
  %head
    %title= title
    = stylesheet_link_tag "registered/application", :media => "all"
    = stylesheet_link_tag "registered/#{params[:controller]}" if Rails.application.assets.find_asset("registered/#{params[:controller]}")
    = stylesheet_link_tag "registered/#{params[:controller]}_#{params[:action]}"  if Rails.application.assets.find_asset("registered/#{params[:controller]}_#{params[:action]}")

    = javascript_include_tag "application"
    = csrf_meta_tags
  %body.registredContainer
    .notice= notice
    .alert= alert
  
    .container
      
      = render 'application/layout_parts/order_types_registered'
      
      .BookCover
        = render 'application/layout_parts/client_left_menu'      
        .content
          .thisPageContent
            .rightPages
            = yield
      = render 'application/layout_parts/footer'