!!!
%html
  %head
    %title Дизайн сервис.
    = stylesheet_link_tag "common/application", :media => "all"
    = stylesheet_link_tag "registered/application", :media => "all"
    = stylesheet_link_tag "common/#{params[:controller]}.css" if Rails.application.assets.find_asset("common/#{params[:controller]}.css")
    = stylesheet_link_tag "registered/#{params[:controller]}.css" if Rails.application.assets.find_asset("registered/#{params[:controller]}.css")
    = javascript_include_tag "application"
    = javascript_include_tag "#{params[:controller]}.js" if Rails.application.assets.find_asset("#{params[:controller]}.js")
    = csrf_meta_tags
    /[if lt IE 9]
      <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>

  %body
    %noindex
      .twoColFixRtHdr
        .border_ornements
          .header_top
            .coconut_leaves
              #container
                #header_specialist
                  = render 'layouts/specialist/profile_menu'
                #maincontent_specialist.rounded-corners_l4
                  #main_content_specialist_inside
                    .sidebar_left_specialist
                      .name.rounded-corners
                        = greating_name(current_user)
                        = surround '(', ')' do
                          = link_to(t('user.session.signout'), destroy_user_session_path, :method => :delete)
                      .events.rounded-corners
                        = render 'layouts/specialist/events'
                      .groups.rounded-corners
                        = render partial: 'layouts/specialist/groups', locals: {specialist_groups: SpecialistGroupDecorator.decorate_collection(current_user.specialist_groups)}
                    .page_contener_specialist
                      = raw specialist_page_subtitle
                      = yield
              = render 'layouts/footer'
