<!DOCTYPE html>
<html>
<head>
<title>Дизайн сервис.</title>

<%= stylesheet_link_tag "common/application", :media => "all" %>
<%= stylesheet_link_tag "unregistered/application", :media => "all" %>

<%= stylesheet_link_tag "common/#{params[:controller]}.css" if Rails.application.assets.find_asset("common/#{params[:controller]}.css") %>
<%= stylesheet_link_tag "unregistered/#{params[:controller]}.css" if Rails.application.assets.find_asset("unregistered/#{params[:controller]}.css") %>

<%= javascript_include_tag "application" %>
<%= javascript_include_tag "#{params[:controller]}.js" if Rails.application.assets.find_asset("#{params[:controller]}.js") %>

<%= csrf_meta_tags %>

<!--[if lt IE 9]>
<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
<![endif]-->

<body>

<noindex> 

<%= render 'layouts/login_popup' %>

<div class="twoColFixRtHdr">
<div class="border_ornements">
<div class="header_top">
<div class="coconut_leaves">

<div id="container">
  <%= render 'layouts/header' %>
  <div id='maincontent_default'>  <!--  ------------------------------------------------------------------------------CHANGE ID NAME -->
    <div class="page_content_default">
      <div class="collage_design mode1">                              
        <%= render 'layouts/specialists' %>
      </div>
      <%= yield %>
      <div id="block_menu_default">
        <%= render 'layouts/worktypes' %>
      </div>
    </div>
  </div> <!--------------------------------------------------- -----------------------------------------------END maincontent_default -->
</div><!--------------------------------------------------- --------------------------------------------------------END container--------->
<%= render "layouts/footer" %>

</div> <!-- coconut_leaves ----------------------------------------------------- END CLASS--->
</div> <!-- header_top  ----------------------------------------------------- END CLASS--->
</div> <!-- border_ornements ---------------------------------------------------- END CLASS-->  
</div>


</noindex>
</body>
</html>
