!!!
%html
  %head
    %title= title
    = stylesheet_link_tag "common/application", :media => "all"
    = stylesheet_link_tag "common/#{params[:controller]}" if Rails.application.assets.find_asset("common/#{params[:controller]}")
    = stylesheet_link_tag "common/#{params[:controller]}_#{params[:action]}"  if Rails.application.assets.find_asset("common/#{params[:controller]}_#{params[:action]}")

    = stylesheet_link_tag "unregistered/application", :media => "all"
    = stylesheet_link_tag "unregistered/#{params[:controller]}" if Rails.application.assets.find_asset("unregistered/#{params[:controller]}")
    = stylesheet_link_tag "unregistered/#{params[:controller]}_#{params[:action]}"  if Rails.application.assets.find_asset("unregistered/#{params[:controller]}_#{params[:action]}")

    = javascript_include_tag "application"
    = javascript_include_tag "#{params[:controller]}" if Rails.application.assets.find_asset("#{params[:controller]}")
    = javascript_include_tag "#{params[:controller]}_#{params[:action]}" if Rails.application.assets.find_asset("#{params[:controller]}_#{params[:action]}")
    = csrf_meta_tags
  %body
    %noindex
      .notice= notice
      .alert= alert

      .twoColFixRtHdr
        #container
          #header
            #designService.headerLayer1
            = render 'devise/menu/login_box'
            #UserMenu{:style => "visibility:hidden"}
            .clearfloat
          #sidebar1
            .wtf
            = render 'application/layout_parts/order_types_unregistered'
          #mainContent
            #leftTopContainer.leftTopContainer
              #specMenuContainer.specMenu
                = render 'application/layout_parts/specialists_box'
            /= render 'application/layout_parts/debug_mode'
            #thisPageContent.thisPageContent
              #pageCaption.pageCaption
                .pageLogo
                #pageName
                  %p= subtitle
                .horLine
              .wtf
              = yield

          / This clearing element should immediately follow the #mainContent div in order to force the #container div to contain all child floats
          %br.clearfloat/

          = render 'application/layout_parts/footer'