!!!
%html
  %head
    %title Дизайн сервис.
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "unregistered/application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "#{params[:controller]}.js" if Rails.application.assets.find_asset("#{params[:controller]}.js")
    = csrf_meta_tags
    /[if lt IE 9]
      <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>

  - if !params[:specialization].nil?
    - iget = params[:specialization]
  - else 
    - iget = params[:controller]                 
 
  %body.unregistered{:id => "#{iget}", :class => "#{params[:controller]}_controller"}
    %noindex
      #black_content
      = render 'layouts/unregistered/login_popup'
      .twoColFixRtHdr
        .border_ornements
          .header_top
            .coconut_leaves
              #container
                = render 'layouts/unregistered/header'
                #maincontent_default
                  .page_content_default
                    .collage_design.mode1
                      = render 'layouts/unregistered/specialists'
                    %div{:class => "page_description #{page_subtitle_class}"}
                      %span{:class => page_subtitle_class}= page_subtitle
                    = yield
                    #block_menu_default
                      = render partial: 'layouts/unregistered/worktypes'
              = render 'layouts/footer'
